package pages

import (
"PurchaseOrderSystem/views/components"
)

templ GetHome(data map[string]interface{}) {
<!DOCTYPE html>
<html lang="en">
@components.Head("home")

<body>
	@components.Navbar()
	@components.LoadingSpinner()
	<div id="main"></div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
</body>

</html>
}
